body {
  background: #9cf;
  overflow: hidden;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

#bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  background: #9cf url('img/background.svg') no-repeat fixed 50% bottom / cover;
}

#canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#log {
  position: absolute;
  bottom: 11%;
  right: 0;
  width: 22em;
}

.log-message {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.4em 0.8em;
  margin: 0.5em 1em;
  border-radius: 4px;
  color: #fff;
}

#chat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(
    rgba(0, 168, 0, 0.5),
    10%, rgba(0, 168, 0, 1),
    rgba(0, 168, 0, 1));
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}

#chat-text-input {
  display: block;
  position: absolute;
  left: 20%;
  top: 50%;
  width: 50%;
  border: 1px solid #060;
  padding: 2px 8px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  transform: translate(0, -50%);
  box-sizing: border-box;
}

#chat-submit-button {
  display: block;
  position: absolute;
  right: 20%;
  top: 50%;
  width: 9%;
  padding: 2px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  background: #060;
  transform: translate(0, -50%);
  color: #fff;
  text-shadow: -1px -1px 0px #030;
}
#chat-submit-button:active {
  transform: translate(0, -40%);
}

#loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 64, 128, 0.3);
  z-index: 99;
}

#loader.hidden {
  display: none;
}

.loader__loader-image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25%;
  height: 25%;
  display: block;
  transform: translate(-50%, -50%);
}
